extends layout

block content
	h1 login
	if error && error.length && error.length > 0
		div
			label Error: 
			label= error
			p
	form(action='/login', method='post')
		div
			label Username: 
			input(type='text', name='username')
			p
		div
			label Password: 
			input(type='password', name='password')
			p
		div
			input(type='submit', value='Log In')
