body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#loginButton {
  margin-right: 5px;
}
.modalInput {
  width: 100%;
}
.modal-dialog {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
}
.modal-footer {
  text-align: center;
}
.ng-hide {
  transition: all linear 0.3s;
  opacity: 0;
}
.modal-dialog .ng-hide-add {
  transition: 0s linear all;
}
[ng-cloak], .ng-cloak {
  display: none !important;
}
