<div id="resetPasswordModal">
<div class="modal-header">
  <button type="button" ng-click="cancel()" class="close">×</button>
  <h4 id="resetPasswordHeading" class="modal-title">Reset Password</h4>
</div>
<div class="modal-body">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
  <form ng-hide='done' novalidate role="form" name='userForm' ng-submit="userForm.email.$setDirty(); submit()">
    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty && userForm.email.$touched}">
      <input autofocus id="emailInput" type="email" name="email" placeholder="Email address" ng-model="email" class="form-control" required>
      <p ng-show="userForm.email.$invalid && userForm.email.$dirty && userForm.email.$touched" class="help-block">Enter a valid email.</p>
      <p></p>
    </div>
    <div id="captcha"></div>
    <p></p>
    <div>
      <input type="submit" value="Reset Password" class="btn btn-default form-control">
    </div>
  </form>
</div>
<div class="modal-footer">
  <a href="#login">Back to login</a>
</div>
<script>
  pwdResetRecaptchaWidgetId = grecaptcha.render("captcha", {sitekey: flagsApp.recaptchaKey});
</script>
