<div class="modal-header">
  <button type="button" ng-click="cancel()" class="close">×</button>
  <h4 class="modal-title">Reset Password</h4>
</div>
<div class="modal-body">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">
    <p ng-repeat="message in alert.messages">{{message}}</p>
    <a ng-repeat="link in alert.links" href="{{link.href}}">{{link.message}}</a>
  </uib-alert>
  <form ng-hide='faulted' novalidate role="form" name='userForm' ng-submit="userForm.password.$setDirty(); submit()">
    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$dirty && userForm.password.$touched}">
      <input focus-me="ready" id="passwordInput" type="password" name="password" placeholder="Password" ng-model="password" class="form-control" required>
      <p ng-show="userForm.password.$invalid && userForm.password.$dirty && userForm.password.$touched" class="help-block">Enter a password.</p>
      <p></p>
    </div>
    <p></p>
    <div>
      <input type="submit" value="Submit" class="btn btn-default form-control">
    </div>
  </form>
</div>
