<div class="modal-header">
  <button type="button" ng-click="cancel()" class="close">×</button>
  <h4 class="modal-title">Sign Up</h4>
</div>
<div class="modal-body">
  <form novalidate role="form" name='userForm' ng-submit="userForm.email.$setDirty(); userForm.password.$setDirty(); submit()">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty && userForm.email.$touched}">
      <input autofocus id="emailInput" type="email" name="email" placeholder="Email address" ng-model="credentials.email" class="form-control" required>
      <p ng-show="userForm.email.$invalid && userForm.email.$dirty && userForm.email.$touched" class="help-block">Enter a valid email.</p>
      <p></p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$dirty}">
      <input id="passwordInput" type="password" name="password" placeholder="Password" ng-model="credentials.password" class="form-control" required>
      <p ng-show="userForm.password.$invalid && userForm.password.$dirty" class="help-block">Enter a password.</p>
      <p></p>
    </div>
    <div id="captcha"></div>
    <p></p>
    <div>
      <input id='signupSubmit' type="submit" value="Sign Up" class="btn btn-default form-control">
    </div>
  </form>
</div>
<div class="modal-footer">
  <span>Already have an account? </span>
  <a href="/login">Log in</a>
</div>
<script>
  var onloadCallback = renderRecaptcha;
  renderRecaptcha();
  function renderRecaptcha() {
    if(window.grecaptcha) {
      window.grecaptcha.render("captcha", {sitekey: flagsApp.recaptchaKey});
    }
  };
</script>
